.filter-tools{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: auto;
    border: 2px solid green;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(173, 223, 190);
    width: fit-content;
    column-gap: 20px;
}

.filter-tools label{
    text-align: center;   
    color: rgb(81, 88, 79); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.fill-tools select{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}